body{
  background: rgb(250;250;250);
  color: black;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Manuale', serif;
  color: black;  
  font-weight: bolder;
  font-size: 100px;
}
h2 {
  font-family: 'Manuale', serif;
  color: rgb(16,20,79);
  font-weight: bolder;
  font-size: 20px;
}
a {
  color: grey;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#banner{
	background-image: url("images/source.gif");
	background-size: cover;
	font-color: white;
	text-align: center;
	padding: 300px
}

#banner h1 {
	color: white;
}

#banner p {
	color: white;
}

#banner a{
	color: rgb(16,20,79);
}
.card{
text-align: center;
padding: 50px;
font-color : black;
border: 3px solid rgb(150,150,150);
padding: 5px;
border-radius: 7px;
}

.card h1 {
	color: pink
}

.card p {
	color : rgb(16,20,79);
}

#footer{
background-color: white;
font-color: black
padding-bottom : 150px;
text-align: center;
border-top: 30px
}

#footer a {
color : rgb(16,20,79);
font-size: 30px;
}

#mylist {
margin-bottom: 0;
background-size: cover;
}

.btn {
	color: black
	font-color: white;
}

.container {
	color: red
}

.picto{
    display: block;
    margin-left: auto;
    margin-right: auto }
}

.cta{
  padding: 30px;
}
